<%- include("partials/header.ejs") %>

    <div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center ">
        <div class="list-group faq-list">

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">What is TimeTower?</h6>
                <p class="mb-0 opacity-75">TimeTower is a powerful task management application designed to
                    help individuals and teams organize, prioritize, and accomplish their tasks and goals efficiently.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">TimeTower free to use?</h6>
                <p class="mb-0 opacity-75">Yes, TimeTower offers a free Basic Plan with essential features. However, we also offer Pro and Premium plans with additional advanced features for users who require more functionality. You can explore our pricing options on our Pricing page.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0"> Is TimeTower available on mobile devices?</h6>
                <p class="mb-0 opacity-75">Absolutely! TimeTower is available as a WebApp for both iOS and Android devices, ensuring you can access your tasks and lists on the go.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">Can I share tasks and lists with others using TimeTower?</h6>
                <p class="mb-0 opacity-75">Yes, you can. With TimeTower, you can easily collaborate with others by sharing tasks and lists. The Pro and Premium plans offer advanced collaboration features for teams and family members.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">What is the difference between the Pro and Premium plans?</h6>
                <p class="mb-0 opacity-75">The Pro plan offers enhanced features like unlimited task lists, advanced reminders, and real-time collaboration. The Premium plan takes it a step further with team productivity dashboards, advanced analytics, and more. You can compare the plans on our Pricing page.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">Can I try TimeTower before subscribing to a paid plan?</h6>
                <p class="mb-0 opacity-75">Yes, we offer a 7-day free trial of the Premium Plan, so you can explore all the advanced features before making a commitment.
                </p>
            <%- include("partials/faq_footer.ejs") %>

            <%- include("partials/faq_header.ejs") %>
                <h6 class="mb-0">How do I get customer support if I have issues or questions?</h6>
                <p class="mb-0 opacity-75">If you have any questions or encounter issues, please reach out to our customer support team via the Help Center in the app. We're here to assist you and ensure you have the best experience with TimeTower.
                </p>
            <%- include("partials/faq_footer.ejs") %>

        </div>
    </div>

    <div class="container col-xxl-8 mx-5 px-5 py-3 row flex-lg-row-reverse align-items-center g-5 col-lg-6">
        <p class="lead">
            If you have additional questions or specific details you'd like to include in your FAQs, feel free to customize these answers accordingly.
        </p>
    </div>

<%- include("partials/footer.ejs") %>